
<p><h2>Videos</h2></p><br />
<%#= will_paginate @videos %>
<div class = "video_container">
  
  <%= @video.id %>
</div><!-- /video_container -->
<div class = "clear-right">.</div>
<%#= will_paginate @videos, :class => "pagination page-wide" %>

<br />
