 
.small {
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.4em;
    text-transform: none;
}
.gray {
    color: #999999;
    font-family: Georgia,serif;
    font-size: 13px;
    font-style: italic;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.6em;
    text-transform: none;
}
.hightlight {
    background-color: #FFFF88;
    color: #36393D;
    font-weight: bold;
}
a:link, a:visited, a:hover, a:active, h1, h2, h3 {
    color: #111111;
}
a {
}
body {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #E5E5E5;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #111111;
    font-family: helvetica,arial,sans-serif;
}
hr {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #E2E2E2;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #E2E2E2;
}
#header {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #cccccc;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}
#header h1 {
    color: #FFFFFF;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    text-shadow: 1px 1px 2px #000000;
    text-transform: none;
}
#header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
    color: #FFFFFF;
}
#user-navigation {
    bottom: 25px;
    right: 25px;
    top: auto;
}
#user-navigation a.logout {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #CCCCCC;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
}
#main {
    width: 71%;
}
#main .block {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    padding-top: 0;
}
#main .block .content {
    padding-top: 1px;
}
#main .block .content h2 {
    font-size: 22px;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.2em;
    margin-left: 0px;
    text-transform: none;
}
#main .block .content p {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.45em;
    text-transform: none;
}
#sidebar .block h4 {
    font-weight: bold;
}
#sidebar .notice {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}
#sidebar h3 {
    border-bottom-color: #C0C0C0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #111111;
}
#main-navigation ul li {
    padding-left: 15px;
}
#main-navigation ul li a {
    padding-bottom: 8px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
}
#main-navigation ul li.active {
    margin-left: 15px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#main-navigation ul li.active {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #E5E5E5;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    margin-left: 15px;
}
#main-navigation ul li.active a {
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
}
#sidebar ul li {
    background-image: url("images/arrow.png");
    background-position: 15px 11px;
    background-repeat: no-repeat;
    border-bottom-color: #E2E2E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
#sidebar ul li a {
    margin-left: 20px;
    text-decoration: none;
}
#sidebar ul li a:link, #sidebar ul li a:visited {
    text-decoration: none;
}
#main-navigation {
    background-color: #F4F4F4;
    background-image: url("images/menubar-background.png");
    background-repeat: repeat-x;
}
#main-navigation ul li {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 5px;
}
#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
    color: #111111;
    text-decoration: none;
}
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active, #user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
    color: #111111;
    text-decoration: none;
}
.secondary-navigation {
    background-color: #F2F1EE;
    background-image: url("images/boxbar-background.png");
    border-bottom-color: -moz-use-text-color;
    border-bottom-style: none;
    border-bottom-width: 5px;
}
.secondary-navigation ul li.active, .secondary-navigation ul li.active a:hover {
    background-color: #FFFFFF;
}
#footer .block {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-box-shadow: none;
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #111111;
    text-align: center;
}
#footer .block p {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}
.pagination a, .pagination span {
    background-color: #F4F4F4;
    background-image: url("images/button-background.png");
    border-bottom-color: #C3C4BA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C3C4BA;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #C3C4BA;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #C3C4BA;
    border-top-style: solid;
    border-top-width: 1px;
    color: #111111;
    margin-right: 5px;
    min-width: 15px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    text-align: center;
}
.pagination em {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #002134;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #002134;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #002134;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #002134;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #002134;
    border-top-style: solid;
    border-top-width: 1px;
    color: #FFFFFF;
}
.pagination a {
    color: #1A1A1A;
}
.pagination a:hover {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-bottom-color: #818171;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #818171;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #818171;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #818171;
    border-top-style: solid;
    border-top-width: 1px;
}
.pagination a:active {
    background-image: url("images/button-background-active.png");
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
}
.table th {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #EAEAEA;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #222222;
    font-weight: normal;
}
.table td {
    border-bottom-color: #EAEAEA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.table tr.even {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #F8F8F8;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}
.form label.label {
    color: #666666;
}
.form input.text_field, .form textarea.text_area {
    border-bottom-color: #E2E2E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #E2E2E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #E2E2E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #E2E2E2;
    border-top-style: solid;
    border-top-width: 1px;
    width: 100%;
}
.form input:hover, .form textarea:hover {
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border-bottom-color: #A2A294;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #A2A294;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #A2A294;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #A2A294;
    border-top-style: solid;
    border-top-width: 1px;
}
.form input:focus, .form textarea:focus {
    border-bottom-color: #A2A294;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #A2A294;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #A2A294;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #A2A294;
    border-top-style: solid;
    border-top-width: 1px;
}
.form input.button {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #E2E2E2;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    border-bottom-color: #C1C1C1;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C1C1C1;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #C1C1C1;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #C1C1C1;
    border-top-style: solid;
    border-top-width: 1px;
    color: #111111;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
}
.form input.button:hover {
    border-bottom-color: #666666;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #666666;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #666666;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #666666;
    border-top-style: solid;
    border-top-width: 1px;
}
.form .description {
    color: #8C8C8C;
    font-size: 0.9em;
    font-style: italic;
}
.form .navform a {
    color: #CC0000;
}
a.button, button.button {
    background-color: #F4F4F4;
    background-image: url("images/button-background.png");
    border-bottom-color: #C3C4BA;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #C3C4BA;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #C3C4BA;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #C3C4BA;
    border-top-style: solid;
    border-top-width: 1px;
    font-family: helvetica,arial,sans-serif;
    font-weight: normal;
}
a.button:link, a.button:visited, a.button:hover, a.button:active, button.button:link, button.button:visited, button.button:hover, button.button:active {
    background-color: #F4F4F4;
    font-weight: normal;
}
a.button:hover, button.button:hover {
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    background-color: #EEEEEE;
    border-bottom-color: #818171;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #818171;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #818171;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #818171;
    border-top-style: solid;
    border-top-width: 1px;
}
a.button:active, button.button:active {
    background-color: #DDDDDD;
    background-image: url("images/button-background-active.png");
    outline-color: -moz-use-text-color;
    outline-style: none;
    outline-width: medium;
}
.flash .message {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
}
.flash .message p {
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 8px;
}
.flash .error {
    background-color: #FFDDDD;
    border-bottom-color: #FFBBBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FFBBBB;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFBBBB;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #FFBBBB;
    border-top-style: solid;
    border-top-width: 1px;
}
.flash .warning {
    background-color: #FFFFCC;
    border-bottom-color: #FFFF88;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #FFFF88;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #FFFF88;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #FFFF88;
    border-top-style: solid;
    border-top-width: 1px;
}
.flash .notice {
    background-color: #BBFFB6;
    border-bottom-color: #1FDF00;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #1FDF00;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #1FDF00;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #1FDF00;
    border-top-style: solid;
    border-top-width: 1px;
}
ul.list li {
    border-bottom-color: #E2E2E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
ul.list li .item .avatar {
    border-bottom-color: #E2E2E2;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color-ltr-source: physical;
    border-left-color-rtl-source: physical;
    border-left-color-value: #E2E2E2;
    border-left-style-ltr-source: physical;
    border-left-style-rtl-source: physical;
    border-left-style-value: solid;
    border-left-width-ltr-source: physical;
    border-left-width-rtl-source: physical;
    border-left-width-value: 1px;
    border-right-color-ltr-source: physical;
    border-right-color-rtl-source: physical;
    border-right-color-value: #E2E2E2;
    border-right-style-ltr-source: physical;
    border-right-style-rtl-source: physical;
    border-right-style-value: solid;
    border-right-width-ltr-source: physical;
    border-right-width-rtl-source: physical;
    border-right-width-value: 1px;
    border-top-color: #E2E2E2;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
}
#box .block {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    background-attachment: scroll;
    background-color: #FFFFFF;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
}
#box .block h2 {
    -moz-background-clip: border;
    -moz-background-origin: padding;
    -moz-background-size: auto auto;
    background-attachment: scroll;
    background-color: #404040;
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    color: #FFFFFF;
}
#main, #main-navigation, #main-navigation li, .secondary-navigation, #main .block, #sidebar .block, #sidebar h3, ul.list li, #footer .block, .form input.button, #box .block, #box .block h2 {
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
}
.secondary-navigation li.first a, .secondary-navigation ul li.first {
    -moz-border-radius-topleft: 9px;
}
.secondary-navigation ul li.first {
    -moz-border-radius-topleft: 9px;
}
#sidebar, #sidebar .block, #main .block, #sidebar ul.navigation, ul.list li, #footer .block, .form input.button, #box .block {
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
}
#main .block {
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
}
#main-navigation, .secondary-navigation {
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
}
a.button, button.button, .pagination a, .pagination span {
    -moz-border-radius-bottomleft: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
}
.flash .message {
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
}
.form input.button {
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}
#user-navigation a.logout {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}

span.styled {
    background-color: #404040;
      border:1px solid blue;

}






