<h2>Your Blog Posts</h2>


<div id="block-tables" class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li>
	<% tabs_tag do |tab| %>
	<%= tab.videos 'Create Post', new_post_path %>
	<% end %>
      </li>
    </ul>
  </div>




 <div class="content">
    <h2 class="title"></h2>
    <div class="inner">
      <div class="actions-bar wat-cf">
        <div class="actions">
	  Blog: 
	  <span class="edit_link">

 <%= link_to 'Add a new post', new_post_path %> 
  <%#= "| Pages: #{pagination_links(@pages)}" if paginated? %>
<%= render :partial => "post", :collection => @posts %>
	  </span>

        </div>
        <div class="pagination">
        </div>
      </div>
    </div>
  </div>
</div>
